.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  container: personContainer / inline-size;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.person__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@container personContainer (min-width: 480px) {
  .person__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.person__image {
  -webkit-box-flex: 33%;
      -ms-flex: 33% 0 0px;
          flex: 33% 0 0;
  justify-self: center;
  margin-bottom: 15px;
}
@container personContainer (min-width: 480px) {
  .person__image {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.person__image img {
  border-radius: 9999px;
  width: 100%;
}
.person__content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.person__title {
  margin: 0 0 5px;
}
.person__title + .person__telephone, .person__title + .person__email {
  margin-top: 15px;
}
.person__occupation {
  margin-bottom: 15px;
}
.person__description {
  margin-top: 15px;
}
.person__links {
  margin-top: 15px;
}
.person__links .field--item {
  display: inline-block;
  margin-right: 5px;
}
.person__links a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99px;
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M9.9%2016.7l-.8.8c-.7.7-1.8.7-2.5%200-.4-.3-.6-.8-.6-1.3s.2-.9.5-1.3l3-3c.6-.6%201.8-1.5%202.6-.7.4.4%201%20.4%201.4%200%20.4-.4.4-1%200-1.4-1.4-1.4-3.6-1.2-5.4.7l-3%203c-.7.8-1.1%201.7-1.1%202.7s.4%201.9%201.1%202.7c.7.7%201.7%201.1%202.7%201.1%201%200%201.9-.4%202.7-1.1l.8-.8c.4-.4.4-1%200-1.4-.4-.4-1.1-.4-1.4%200zm9-11.5c-1.5-1.5-3.7-1.6-5.1-.2l-1%201c-.4.4-.4%201%200%201.4.4.4%201%20.4%201.4%200l1-1c.7-.7%201.7-.4%202.3.2.3.4.5.8.5%201.3s-.2.9-.5%201.3l-3.2%203.2c-1.5%201.4-2.1.8-2.4.5-.4-.4-1-.4-1.4%200-.4.4-.4%201%200%201.4.7.7%201.4%201%202.2%201%201%200%202-.5%203-1.5l3.2-3.2c.7-.8%201.1-1.7%201.1-2.7%200-1-.4-2-1.1-2.7z%22%2F%3E%3C%2Fsvg%3E");
}
.person__links a:hover {
  opacity: .75;
}
.person__links a[href*=facebook] {
  background-color: #3a5ba0;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14%203c-2.2%200-4%201.8-4%204v3h-2v3h2v8h3v-8h2.5l.5-3h-3v-3c0-.6.4-1%201-1h2v-3h-2z%22%2F%3E%3C%2Fsvg%3E");
}
.person__links a[href*=twitter] {
  background-color: #2ca7e0;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14.9%205.738c-1.7%200-3.1%201.4-3.1%203.1%200%20.2%200%20.5.1.7-2.6-.1-4.9-1.4-6.5-3.3-.3.5-.4%201-.4%201.6%200%201.1.6%202.1%201.4%202.6-.5%200-1-.2-1.4-.4%200%201.5%201.1%202.8%202.5%203.1-.3.1-.5.1-.8.1-.2%200-.4%200-.6-.1.4%201.3%201.6%202.2%202.9%202.2-1.1.8-2.4%201.3-3.9%201.3h-.8c1.4.9%203.1%201.4%204.8%201.4%205.8%200%209-4.8%209-9v-.4c.6-.4%201.1-1%201.6-1.6-.6.3-1.2.4-1.8.5.7-.4%201.2-1%201.4-1.7-.6.4-1.3.6-2%20.8-.6-.5-1.4-.9-2.4-.9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.person__links a[href*=instagram] {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12%2016c-2.2%200-4-1.8-4-4s1.8-4%204-4%204%201.8%204%204-1.8%204-4%204zm0-6c-1.1%200-2%20.9-2%202s.9%202%202%202%202-.9%202-2-.9-2-2-2z%22%2F%3E%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%2216%22%20cy%3D%228%22%20r%3D%221%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.6%206c1.3%200%202.4%201.1%202.4%202.4v7.1c0%201.4-1.1%202.4-2.4%202.4h-7.2c-1.3.1-2.4-1-2.4-2.3v-7.2c0-1.3%201.1-2.4%202.4-2.4h7.2m0-2h-7.2c-2.4%200-4.4%202-4.4%204.4v7.1c0%202.5%202%204.5%204.4%204.5h7.1c2.5%200%204.4-2%204.4-4.4v-7.2c.1-2.4-1.9-4.4-4.3-4.4z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/24px 24px, -o-linear-gradient(50deg, #ffa61a 0, red 50%, #962cb4 100%) no-repeat center center/100% 100%;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12%2016c-2.2%200-4-1.8-4-4s1.8-4%204-4%204%201.8%204%204-1.8%204-4%204zm0-6c-1.1%200-2%20.9-2%202s.9%202%202%202%202-.9%202-2-.9-2-2-2z%22%2F%3E%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%2216%22%20cy%3D%228%22%20r%3D%221%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.6%206c1.3%200%202.4%201.1%202.4%202.4v7.1c0%201.4-1.1%202.4-2.4%202.4h-7.2c-1.3.1-2.4-1-2.4-2.3v-7.2c0-1.3%201.1-2.4%202.4-2.4h7.2m0-2h-7.2c-2.4%200-4.4%202-4.4%204.4v7.1c0%202.5%202%204.5%204.4%204.5h7.1c2.5%200%204.4-2%204.4-4.4v-7.2c.1-2.4-1.9-4.4-4.3-4.4z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/24px 24px, linear-gradient(40deg, #ffa61a 0, red 50%, #962cb4 100%) no-repeat center center/100% 100%;
}
.person__links a[href*=linkedin] {
  background-color: #0e76a8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M19%2017v-4.5c0-2.5-1.7-3.6-3.4-3.6-1.4%200-2.2.8-2.6%201.3v-1.2h-3v8h3v-4.4c0-.2%200-.6.1-.7.2-.5.7-.9%201.4-.9%201%200%201.5.7%201.5%201.8v4.2h3zM7.5%208c.9%200%201.5-.6%201.5-1.4%200-.8-.6-1.4-1.5-1.4s-1.5.6-1.5%201.4c0%20.8.6%201.4%201.5%201.4zM6%209h3v8h-3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.person__links a[href*=pinterest] {
  background-color: #c9151c;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.5%204c-5.7%200-8.5%204-8.5%207.4%200%202%20.8%203.8%202.4%204.5.3.1.5%200%20.6-.3.1-.2.2-.7.2-.9.1-.3%200-.4-.2-.7-.5-.6-.8-1.3-.8-2.3%200-3%202.2-5.7%205.8-5.7%203.2%200%204.9%201.9%204.9%204.5%200%203.4-1.5%206.3-3.8%206.3-1.2%200-2.2-1-1.9-2.3.4-1.5%201-3.1%201-4.2%200-1-.5-1.8-1.6-1.8-1.3%200-2.3%201.3-2.3%203.1%200%201.1.4%201.9.4%201.9s-1%205.5-1.2%206.4c-.4%201.5-.2%203.3-.1%204.1h.7c.5-.7%201.4-2%201.8-3.4.1-.5.8-3.2.8-3.2.4.8%201.6%201.5%202.9%201.5%203.8%200%206.4-3.5%206.4-8.1%200-3.5-3-6.8-7.5-6.8z%22%2F%3E%3C%2Fsvg%3E");
}
.person__links a[href*=youtube] {
  background-color: #E02F2F;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.8%208.6s-.2-1.2-.6-1.7c-.6-.7-1.3-.7-1.6-.7-2.2-.2-5.6-.2-5.6-.2s-3.4%200-5.6.2c-.3%200-1%200-1.6.7-.5.5-.6%201.7-.6%201.7s-.2%201.4-.2%202.8v1.3c0%201.4.2%202.8.2%202.8s.2%201.2.6%201.7c.6.7%201.4.7%201.8.7%201.2.1%205.4.1%205.4.1s3.4%200%205.6-.2c.3%200%201%200%201.6-.7.5-.5.6-1.7.6-1.7s.2-1.4.2-2.8v-1.3c0-1.3-.2-2.7-.2-2.7zm-9.8%206.4v-6l5%203-5%203z%22%2F%3E%3C%2Fsvg%3E");
}

.view-id-persons.view-display-id-overview_block .view-content, .view-id-persons.view-display-id-overview_filtered_block .view-content, .view-id-persons.view-display-id-overview_grouped_block .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -30px -15px 0;
  min-width: 100%;
}
.view-id-persons.view-display-id-overview_block .view-content > h3, .view-id-persons.view-display-id-overview_filtered_block .view-content > h3, .view-id-persons.view-display-id-overview_grouped_block .view-content > h3 {
  width: 100%;
  margin-top: 30px;
}
.view-id-persons.view-display-id-overview_block .views-row, .view-id-persons.view-display-id-overview_filtered_block .views-row, .view-id-persons.view-display-id-overview_grouped_block .views-row {
  width: 100%;
  padding: 0 15px;
  margin-top: 30px;
}
@media only screen and (min-width: 640px) {
  .view-id-persons.view-display-id-overview_block .views-row, .view-id-persons.view-display-id-overview_filtered_block .views-row, .view-id-persons.view-display-id-overview_grouped_block .views-row {
    width: 50%;
  }
}
@media only screen and (min-width: 960px) {
  .view-id-persons.view-display-id-overview_block .views-row, .view-id-persons.view-display-id-overview_filtered_block .views-row, .view-id-persons.view-display-id-overview_grouped_block .views-row {
    width: 33.333333%;
  }
}
